<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- -----Load Static----- -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- -----Fonts----- -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">
</head>
<body>
  <!-- ----Animation---- -->
  <section id="loader">
    <div class="container">
      <div class="loading">
        <div class="bounceball"></div>
        <div class="text">LOADING</div>
      </div>
    </div>
  </section>

  <!-- ----Main Section---- -->
  <section id="main">

    <div class="container">
      <!-- ----Header---- -->
      <header id="main-header">
        <div class="top">
          <h1>Air Quality</h1>
          <i class="fa-solid fa-wind"></i>
        </div>
        
        <h1 class="title">Sample System</h1>
      </header>
      <!-- ----Content---- -->
      <section id="content">
        <div class="top">
        </div>
      </section>
    </div>
  </section>

  <script src="https://kit.fontawesome.com/e2963f2415.js" crossorigin="anonymous"></script>
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>